<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>

</head>

<body>
    <form action="/book/search/" Method="POST">
        <label for='ISBN'>
            N°ISBN
        </label>
        <input type="number" name="ISBN" id="ISBN">
        <label for='Titre'> TITRE </label>
        <input type="text" name="Titre" id="Titre">
        <label for='Auteur'>Auteur</label>
        <input type="text" name="Auteur" id="Auteur">

        <button type="submit"> Rechercher </button>

    </form>
    <h1>Liste des Livres</h1>
    <% if(locals.rows){ %>
        <ul>
            <% for(i =0; i < rows.length; i++){ %>
                <li>
                    <%= rows[i].ISBN %>
                        <%= rows[i].Titre %>
                            <%= rows[i].Auteur %>
                                <%= rows[i].DateParution %>
                                    <%= rows[i].Etat %>


                </li>

                <% } %>
        </ul>
        <% } %>
</body>


</html>